# CONFIG

In [50]:
import streamlit as st
import sqlalchemy as db
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [51]:
#connect to the SQL database
connection = sqlite3.connect('bce.db')

#query tables
sql_query_Q1T1 = pd.read_sql_query ('''
                               SELECT
                               *
                               FROM enterprise
                               ''', connection)

#Create a dataframe 1 to prepare graph input
df_Q1T1 = pd.DataFrame(sql_query_Q1T1, columns = ['EnterpriseNumber', 'JuridicalForm'])
print (df_Q1T1)

        EnterpriseNumber JuridicalForm
0           0200.065.765           416
1           0200.068.636           417
2           0200.171.970           116
3           0200.245.711           116
4           0200.305.493           416
...                  ...           ...
1863287     0998.603.518           230
1863288     0998.603.617           230
1863289     0998.604.211           230
1863290     0998.604.607           230
1863291     0998.605.201           230

[1863292 rows x 2 columns]

In [52]:
#query table 2
sql_query_Q1T2 = pd.read_sql_query ('''
                               SELECT
                               *
                               FROM code
                               ''', connection)

#Create a dataframe 2 to prepare graph input
df_Q1T2 = pd.DataFrame(sql_query_Q1T2)
df_Q1T2 = df_Q1T2[df_Q1T2.Language.eq("FR")]
df_Q1T2 = df_Q1T2[df_Q1T2["Category"]=="JuridicalForm"]
df_Q1T2.rename(columns = {'Code':'JuridicalForm'}, inplace = True)
df_Q1T2

,Category,JuridicalForm,Language,Description
33,JuridicalForm,001,FR,Société coopérative européenne
36,JuridicalForm,002,FR,Organisme de financement de pensions
39,JuridicalForm,003,FR,Unité TVA
42,JuridicalForm,006,FR,Société coopérative à responsabilité illimitée
45,JuridicalForm,007,FR,Société coopérative à responsabilité illimitée...
...,...,...,...,...
456,JuridicalForm,722,FR,Association momentanée
459,JuridicalForm,723,FR,Association de frais
462,JuridicalForm,724,FR,Syndicat
465,JuridicalForm,790,FR,Divers sans personnalité juridique
468,JuridicalForm,999,FR,Forme légale inconnue (ONSS)

In [53]:
df_Q1 = pd.merge(df_Q1T1, df_Q1T2, on='JuridicalForm')
df_Q1 = df_Q1["Description"]
df_Q1

0          Association prestataire de services (Région fl...
1          Association prestataire de services (Région fl...
2          Association prestataire de services (Région fl...
3          Association prestataire de services (Région fl...
4          Association prestataire de services (Région fl...
                                 ...
1099644    Organisme immatriculé pour l'Administration de...
1099645    Organisme immatriculé pour l'Administration de...
1099646    Organisme immatriculé pour l'Administration de...
1099647    Organisme immatriculé pour l'Administration de...
1099648    Organisme immatriculé pour l'Administration de...
Name: Description, Length: 1099649, dtype: object

In [57]:
pie_chart = px.pie(df_Q1,
                   title="Juridical Form",
                   values="Description",
                   names="Description")

Piechart_Jurid = st.plotly_chart(pie_chart)
Piechart_Jurid

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)